<h1>Customer Details</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Name: {{customer.name}}</h5>
    <p class="card-text">Address: {{customer.address}}</p>
    <p class="card-text">Neighborhood: {{customer.neighborhood}}</p>
    <a href="/customers" class="btn btn-primary">Back to List</a>
  </div>
</div>
